.navbar-wrapper
  .container
    .navwrapper
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.menuItem(data-target="oNas")
                %a{href: "#oNas"} O nas
              %li.menuItem(data-target="oferta")
                %a{href:"#oferta"} Oferta
              %li.menuItem(data-target="kontakt")
                %a{href:"#kontakt"} Kontakt

#contents
  #oNas.container-fluid
    Nasze gospodarstwo znajduje się w zagłębiu Grójeckim zajęło się sadownictwem 30 lat temu, od tamtej pory bardzo się rozwinęło i nadal inwestujemy w nowe technologie aby produkować ładniejsze i zdrowsze dla konsumenta owoce. Posiadamy bazę przechowalniczą na tysiąc ton jabłek, które przechowywane są w chłodniach ULO przy użyciu płuczek CO2, więc w każdym momencie sprzedaży posiadamy świeże owoce o odpowiedniej trwałości i jędrności.
    Ponadto produkujemy około 40 ton czereśni które posiadają odpowiednią twardość i smak. Owoce czereśni dla każdego klienta możemy zapakować wedle uznania i schłodzić w chłodniach.
    Również od niedawna zaczynamy produkcje wiśni która w docelowym etapie na chwile obecną osiągnie 150 ton.
    Wszystkie owoce produkujemy metodą Integrowanej Produkcji więc w naszych sadach nie ma obaw że owoce które nadają się do spożycia posiadają resztki pestycydów czy metali ciężkich.
  #oferta.container-fluid
    .header
      %h2
        %span Oferta
    W naszej ofercie posiadamy owoce najwyższej jakości takie jak;
    Jabłka; Alwa, Gala, Gloster, Golden Delicious, Idared, Jonagold, Jonagored, Ligol, Lobo, Paulared, Piros, Szampion
    Czereśnie; Kordia, Poznańska, Regina, Summit, Burlat
    Wiśnie; Groniasta, Łutówka
    Wszystkie owoce dostępne są w różnych kalibrach i opakowaniach wedle życzenia kupującego. Owoce możemy schłodzić jak i dostarczyć do odbiorcy po wcześniejszych uzgodnieniach.
  #kontakt.container-fluid
    .header
      %h2
        %span Kontakt

    .col-md-8
      %iframe{src:"https://www.google.com/maps/d/embed?mid=zDIGzDbSwk94.kuNAry03u7Xg"}
    .col-md-4
      Gospodarstwo Rodzinne Sadownicze
      Stanisławów 19
      26-803 Promna
      Woj. mazowieckie
      Polska
      Tel. +48 507 710 454
