.navbar-wrapper
  .container
    .navwrapper
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.menuItem(data-target="oNas")
                %a{href: "#oNas"} O nas
              %li.menuItem(data-target="oferta")
                %a{href:"#oferta"} Oferta
              %li.menuItem(data-target="kontakt")
                %a{href:"#kontakt"} Kontakt
            %ul.nav.navbar-nav.countries
              %li.menuItem
                %img{src: "/images/pl.png"}
              %li.menuItem
                %img{src: "/images/ru.png"}
              %li.menuItem
                %img{src: "/images/gb.png"}


#contents
  #oNas.container-fluid
    .header
      %h2.wide
        %span Gospodarstwo Rodzinne Sadownicze
    Nasze gospodarstwo znajduje się w zagłębiu Grójeckim zajęło się sadownictwem 30 lat temu, od tamtej pory bardzo się rozwinęło i nadal inwestujemy w nowe technologie aby produkować ładniejsze i zdrowsze dla konsumenta owoce. Posiadamy bazę przechowalniczą na tysiąc ton jabłek, które przechowywane są w chłodniach ULO przy użyciu płuczek CO2, więc w każdym momencie sprzedaży posiadamy świeże owoce o odpowiedniej trwałości i jędrności.
    Ponadto produkujemy około 40 ton czereśni które posiadają odpowiednią twardość i smak. Owoce czereśni dla każdego klienta możemy zapakować wedle uznania i schłodzić w chłodniach.
    Również od niedawna zaczynamy produkcje wiśni która w docelowym etapie na chwile obecną osiągnie 150 ton.
    Wszystkie owoce produkujemy metodą Integrowanej Produkcji więc w naszych sadach nie ma obaw że owoce które nadają się do spożycia posiadają resztki pestycydów czy metali ciężkich.
  #oferta.container-fluid
    .header
      %h2
        %span Oferta
    .info
      .row.top W naszej ofercie posiadamy owoce najwyższej jakości
      .row.items
        .col-md-4
          .row
            .col-md-4.img
              %img{src: "/images/jabko1.jpg"}
            .col-md-4.type
              Jabłka
          %ul
            %li Alwa
            %li Gala
            %li Gloster
            %li Golden Delicious
            %li Idared
            %li Jonagold
            %li Jonagored
            %li Ligol
            %li Lobo
            %li Paulared
            %li Piros
            %li Szampion
        .col-md-4
          .row.czeresnia
            .col-md-4.img
              %img{src: "/images/czeresnia2.jpg"}
            .col-md-4.type
              Czereśnie
          %ul
            %li Korida
            %li Poznańska
            %li Regina
            %li Summit
            %li Burlat
        .col-md-4
          .row.wisnia
            .col-md-4.img
              %img{src: "/images/wisnia2.jpg"}
            .col-md-4.type
              Wiśnie
          %ul
            %li Groniasta
            %li Łutówka
      .row.bottom
        Wszystkie owoce dostępne są w różnych kalibrach i opakowaniach wedle życzenia kupującego. 
        %br
        Owoce możemy schłodzić jak i dostarczyć do odbiorcy po wcześniejszych uzgodnieniach.
  #kontakt.container-fluid
    .header
      %h2
        %span Kontakt
    .col-md-4
      .kwadrat
        %a{href:"tel:+48507710454"}
          %h1 TELEFON
          .ss-pika.ss-phone
          .content +48 507 710 454
    .col-md-4
      .kwadrat
        %a{href:"mailto:damianseb@gmail.com"}
          %h1 EMAIL
          .ss-pika.ss-mail
          .content damianseb@gmail.com
    .col-md-4
      .kwadrat
        %a{href:"https://www.google.com/maps/d/edit?mid=zDIGzDbSwk94.kuNAry03u7Xg", target: "_blank"}
          %h1 ADRES
          .ss-pika.ss-location
          .content
            %p Stanisławów 19
            %p 26-803 Promna
            %p Polska
