html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background: #fff;
  color: #0d0d0d;
  font-size: 21px;
  font-family: 'Droid Sans', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-wrapper {
  z-index: 3;
}

.navbar {
  border: none;
}

.navbar-inverse {
  background-color: rgba(252, 252, 252, 0.8);
  border-color: rgba(252, 252, 252, 0.8);
}
.navbar-inverse .navbar-nav li a {
  color: #000;
}
.navbar-inverse .navbar-nav li a:hover {
  color: red;
}
.navbar-inverse .navbar-nav.countries {
  float: right;
  margin-top: 15px;
}
.navbar-inverse .navbar-nav.countries li {
  cursor: pointer;
  margin-right: 5px;
}
.navbar-inverse .navbar-nav.countries li img {
  height: 18px;
  width: 28px;
}

.header {
  padding: 15px 40px;
}
.header h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.header h2:before, .header h2:after {
  display: block;
  height: 1px;
  content: " ";
  width: 40%;
  position: absolute;
  top: 0.53em;
  z-index: 1;
  background-color: #000;
}
.header h2:after {
  right: 0px;
  left: auto;
}
.header h2.wide:before, .header h2.wide:after {
  width: 20%;
}

.navbar-wrapper {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container-fluid {
  min-height: 700px;
  padding-top: 70px;
}
.container-fluid#oNas {
  background-image: url("/images/apples.jpg");
  color: #fff;
  text-shadow: 1px 2px #333;
}
.container-fluid#oNas .dark:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.container-fluid#oNas .header {
  margin-bottom: 80px;
}
.container-fluid#oNas .header h2:before, .container-fluid#oNas .header h2:after {
  background-color: #fff;
}
.container-fluid#oNas .message {
  margin-left: 250px;
}
.container-fluid#oNas .row {
  font-size: 23px;
  margin-top: 25px;
}
.container-fluid#oNas .row .ss-pika {
  font-size: 28px;
  float: left;
}
.container-fluid#oNas .row span {
  padding-left: 20px;
  float: left;
}
.container-fluid#oferta .info {
  text-align: center;
}
.container-fluid#oferta .info .top {
  padding: 20px 0px;
}
.container-fluid#oferta .info .bottom {
  padding-top: 50px;
}
.container-fluid#oferta .info .items .img {
  text-align: right;
}
.container-fluid#oferta .info .items .type {
  text-align: left;
  padding-top: 33px;
  font-size: 28px;
}
.container-fluid#oferta .info .items ul {
  text-align: left;
  padding-left: 130px;
  padding-top: 23px;
  line-height: 28px;
  list-style-type: disc;
}
.container-fluid#oferta .info .items .czeresnia {
  margin-top: 50px;
}
.container-fluid#oferta .info .items .wisnia {
  margin-top: 130px;
}
.container-fluid#kontakt {
  color: #fff;
  background-color: #000;
}
.container-fluid#kontakt .header {
  margin-bottom: 80px;
}
.container-fluid#kontakt .header h2:before, .container-fluid#kontakt .header h2:after {
  background-color: #fff;
}
.container-fluid#kontakt .col-md-4 {
  text-aligin: center !important;
}
.container-fluid#kontakt .col-md-4 .kwadrat {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 300px;
  padding-top: 50px;
  cursor: pointer;
}
.container-fluid#kontakt .col-md-4 .kwadrat a {
  color: #fff;
}
.container-fluid#kontakt .col-md-4 .kwadrat a:hover, .container-fluid#kontakt .col-md-4 .kwadrat a:visited {
  text-decoration: none;
}
.container-fluid#kontakt .col-md-4 .kwadrat:hover {
  border: 1px solid #fff;
}
.container-fluid#kontakt .col-md-4 .kwadrat h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
}
.container-fluid#kontakt .col-md-4 .kwadrat .ss-pika {
  font-size: 40px;
  padding: 40px 0px;
}

.icon-email:before {
  content: "\e601";
}
