@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
  background: #fff;
  color: #0d0d0d;
  font-size: 21px;
  font-family: 'Droid Sans', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-wrapper {
  z-index: 3;
}

.navbar {
  border: none;
}

.navbar-inverse {
  background-color: rgba(252,252,252,.8);
  border-color: rgba(252,252,252,.8);
  .navbar-nav {
    li a {
      color: #000;

      &:hover {
        color: red;
      }
    }
    &.countries {
      float: right;
      margin-top: 15px;
      li {
        cursor: pointer;
        margin-right: 5px;
        img {
          height: 18px;
          width: 28px;
        }
      }
    }
  }
}


.header {
  padding: 15px 40px;

  h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    &:before, &:after {
      display: block;
      height: 1px;
      content: " ";
      width: 40%;
      position: absolute;
      top: 0.53em;
      z-index: 1;
      background-color: #000;
    }
    &:after {
      right: 0px;
      left: auto;
    }

    &.wide {
      &:before, &:after {
        width: 20%;
      }
    }
  }
}

.navbar-wrapper {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container-fluid {
  min-height: 700px;
  padding-top: 70px;

  &#oNas {
    background-image: url("/images/apples.jpg");

    .dark {
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
      }
    }

    .header {
      margin-bottom: 80px;
      h2 {
        &:before, &:after {
          background-color: #fff;
        }
      }
    }

    .message {
      margin-left: 250px;
    }

    color: #fff;
    text-shadow: 1px 2px #333;
    .row {
      font-size: 23px;
      margin-top: 25px;
      .ss-pika {
        font-size: 28px;
        float: left;
      }
      span {
        padding-left: 20px;
        float: left;
      }
    }
  }

  &#oferta {
    //background-color: #f4f4f5;
    .info {
      text-align: center;
      .top {
        padding: 20px 0px;
      }

      .bottom {
        padding-top: 50px;
      }

      .items {
        .img {
          text-align: right;
        }
        .type {
          text-align: left;
          padding-top: 33px;
          font-size: 28px;
        }

        ul {
          text-align: left;
          padding-left: 130px;
          padding-top: 23px;
          line-height: 28px;
          list-style-type: disc;
        }

        .czeresnia {
          margin-top: 50px;
        }
        .wisnia {
          margin-top: 130px;
        }
      }
    }
  }

  &#kontakt {
    color: #fff;
    background-color: #000;

    .header {
      margin-bottom: 80px;
      h2 {
        &:before, &:after {
          background-color: #fff;
        }
      }
    }
    .col-md-4 {
      text-aligin: center !important;
      .kwadrat {
        text-align: center;
        margin: auto;
        width: 300px;
        height: 300px;
        padding-top: 50px;
        cursor: pointer;

        a {
          color: #fff;

          &:hover, &:visited {
            text-decoration: none;
          }
        }

        &:hover {
          border: 1px solid #fff;
        }

        h1 {
          text-transform: uppercase;
          font-weight: 900;
          font-size: 40px;
        }
        .ss-pika {
          font-size: 40px;
          padding: 40px 0px;
        }
      }
    }
  }
}
.icon-email {
  &:before {
    content: "\e601";
  }
}
