@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
  background: #fff;
  color: #0d0d0d;
  font-size: 21px;
  font-family: 'Droid Sans', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  padding: 15px 40px;

  h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    position: relative;

    &:before, &:after {
      display: block;
      height: 1px;
      content: " ";
      width: 40%;
      position: absolute;
      top: 0.53em;
      z-index: 1;
      background-color: #000;
    }
    &:after {
      right: 0px;
      left: auto;
    }

    &.wide {
      &:before, &:after {
        width: 20%;
      }
    }
  }
}

.navbar-wrapper {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container-fluid {
  height: 500px;
  padding-top: 70px;
  border: 1px solid red;

  &.grey {
    background-color: #f4f4f5;
  }

  &#oferta {
    background-image: url("/images/apples.jpg");
    .info {
      padding-top: 200px;
      opacity: 0.6;
    }
  }
}

iframe {
  width: 100%;
  height: 300px;
}
