%a(href="/")
  %img{:src => '/images/olbark_mini.png'}
%nav
  %ul
    %li
      %a(href="onas")
        %p O nas
    %li
      %a(href="oferta")
        %p Oferta
    %li
      %a(href="kontakt")
        %p Kontakt
