- content_for :title do
  Olbark - Oferta

#intro.inner
  %h3 Oferta
  %h4.subheader Firma Usługi Inżynieryjne i Doradztwo „OLBARK” oferuje:
  .row
    .half
      %ul 
        %li
          Pełnienie nadzorów w osobie kierownika budowy, kierownika robót oraz inspektora nadzoru inwestorskiego przy wznoszeniu wszelkich obiektów budowlanych (np. drogi, domy jedno- i wielorodzinne, obiekty użyteczności publicznej, obiekty sportowe, obiekty mostowe, sieci elektryczne i wod-kan itp.)
        %li
          Kosztorysowanie robót budowlanych
        %li
          Projekty tymczasowej organizacji ruchu
        %li
          Rzetelne przeprowadzenie obmiarów i pomiarów kontrolnych wykonanych etapów robót lub zrealizowanych obiektów budowlanych
        %li 
          Świadczenie kompleksowych usług geodezyjnych
    .half
      %ul
        %li
          Wykonanie inwentaryzacji obiektów budowlanych wraz z dokumentacją
        %li
          Konsultacje i porady w dziedzinie branży budowlanej
        %li
          Wykonanie ekspertyz i opinii w zakresie obiektów budowlanych
        %li
          Wykonanie pomiarów niwelacji terenu
        %li
          Przeprowadzenie przeglądów okresowych obiektów budowlanych
        %li
          Przygotowanie harmonogramów, bilansu i przeprowadzenie rozliczenia robót na etapie realizacji obiektów budowlanych lub powykonawczo
          
  .row
    #oferta_footer
      %h1 Wykonujemy usługi w kraju oraz za granicą