- content_for :title do
  Olbark - O nas 

#intro.inner
  .row
    %h3 O nas
    %h4.subheader Posiadamy duże doświadczenie w budownictwie na terenach górniczych
    %p Firma OLBARK to przede wszystkim wykwalifikowana kadra inżynierska. Współpracujemy ze specjalistami w różnych dziedzinach budownictwa, posiadającymi odpowiednie kwalifikacje. 
    %p Działamy na rynku od kilku lat, ale jako Usługi Inżynieryjne i Doradztwo „OLBARK”, od 2012 roku. Posiadamy ogromny bagaż doświadczenia w budownictwie na terenach górniczych. Odpowiednie przygotowanie merytoryczne i praktyczne pozwala nam na sprawne i skuteczne przeprowadzenie każdego procesu budowlanego. 
    %p Zapraszamy do współpracy wszystkich klientów indywidualnych oraz instytucje. Usługa zostanie wykonana wg najwyższych standardów, w oparciu o inżynierską sztukę budowlaną, popartą normami i warunkami technicznymi. 
