- content_for :title do
  Olbark - Ekologia 

#intro.inner
  %p#quote „Przede wszystkim ekologia. Kształtujmy środowisko tak, aby pozostawić spuściznę dla potomnych.”
  .footer
    %h2 USŁUGI INŻYNIERYJNE I DORADZTWO „OLBARK”
    %br
    %h4 mgr inż. Arkadiusz Olborski
